@import "tailwindcss";


@theme {
  /*Color*/
  --color-primary: #605BFF;
  --color-secondary: #F7F7F8;
  --color-error: #D11A2A;
  --color-stroke: #D9D9D9;
  --color-success: #3A974C;
  --color-background: #ffffff;

  /*Text*/
  --color-base: #030229;

  /*Font Size*/
  --text-base: 1rem;
  --text-title: 1.5rem;
  --text-subtitle: 1.25rem;

  /*Shadow*/
  --shadow-custom: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /*Border Radius*/
  --radius-base: 0.625rem;

  /*Sidebar*/
  --color-sidebar-text: #03022980;
  --color-sidebar-icon: #03022966;
}

@layer components {
  .card {
    background: var(--color-background);
    padding: 1.5rem;
    box-shadow: var(--shadow-custom);
    border-radius: 10px;
  }
}

:root {
  --background: #ffffff;
  --color-base: #030229;
  --input-height: 50px;
  --button-height: 50px;
}

body {
  background: #FAFAFB;
  color: var(--color-base);
  font-family: Nunito, sans-serif;
  font-size: clamp(14px, 1.25vw, 18px);
}
